@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {@apply block flex h-full font-thin items-center px-4 group-hover:underline}
  .sub1 {@apply absolute bg-gray-800 py-3 h-28 opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out}
  .sub2 {@apply text-sm pl-1 py-10 pr-10 font-thin text-white leading-loose hover:underline}
  .container {@apply relative flex justify-center items-center flex-wrap}
  .card {@apply relative flex w-60 h-72 bg-gray-600 m-3 rounded-lg shadow-lg overflow-hidden justify-center items-center border-t border-l border-solid border-gray-400}
  .content {@apply p-5 h-full mt-7 mb-5 text-center transform translate-y-5 opacity-50 transition duration-75 group-hover:transform group-hover:translate-y-0 group-hover:opacity-100}
  .content_sub2 {@apply text-lg text-gray-50 font-bold group-hover:text-white}
  .content_sub3 {@apply text-sm text-gray-50 font-thin ml-2 mr-0 mt-4 mb-0 group-hover:text-white}
  .content_sub4 {@apply relative inline-block px-5 m-7 bg-gray-100 text-black rounded-xl font-thin shadow-lg border-r-2 border-b-2 border-gray-300 group-hover:bg-white group-hover:underline}

}

@layer base {
    body {
      font-family: 'Lato', sans-serif;
    }
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* body{
    overflow: hidden;
  } */